<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">



    <!--实现HandlerAdapter接口。能够执行实现Controller接口的handler  -->

    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"></bean>

</beans>